
/* Eriek Pawirodinomo */

/* add to cart button align */
.add_to_cart_button:not(#qib_id):not(#qib_id){
	display:block;
	text-align: center;
	margin: auto;
}

/* wrapping of add to cart button and qty button */
.es-product-buttons-wrap {
  background: white;
  margin: 10px 0 0;
  text-align: center;
	border-top: none;
}

/* hover on product and price button */
.widget li.product:hover .es-product-buttons-wrap,
li.product:hover .es-product-buttons-wrap {
  background: white;
} 

/* color changed on add to cart button when hover on product */
.woocommerce-active ul.products :hover .button{
  color: #ff0000;
}

/* add to cart button */
.woocommerce-active .es-product-buttons-wrap a,
.woocommerce-active ul.products li.product .button {
  display: block;
  width: 100%;
  padding: 8px 10px;
  color: #ff0000;
  font-size: 12px;
  background: none;
  border-radius: 0;
  line-height: 1;
  font-weight: 400;
  text-transform: capitalize;
  vertical-align: top;
  margin-top: 3;
  height: auto;
}

/* product text */
.woocommerce-loop-product__title{
	height: 40px;
	overflow:hidden;
  max-height: 5ch;
}

/* product price */
.price{
	width: auto;
}

h2{
	font-size: 13px !important; 
}

.woocommerce-Price-amount{
	font-size: 13px !important;
}